body {
	font-family:'Quicksand', sans-serif;
	height: 100%;
	width:100%;
	background-image: url("../images/grid_12.png");
	background-repeat: repeat-x repeat-y;
	background-size: 100%;
}
.shadow {
	box-shadow: 2px 2px 4px #e1e1e1;
}
.padding-reset {
	padding: 0;
}
.vertically-bottom {
	vertical-align: bottom;
}
.head_logo div{
	padding: 50px 50px 0 50px;
}
.head_logo p {
  margin-top: 10px;
  font-size: 16px;
}
.head_logo img {
	width: 127px;
}
.works div {
	margin-bottom: 111px;
}
.work-heading h3 {
	margin-top: 10px;
}
.work-listenin {
	background: #3d3d3d;
	padding-top: 10px;
}
.work-makeystreet {
	background: #fff;
}
.work-bhash {
	background: #87BEE5;
	color: #fff;
}
.work-specker {
	margin-bottom: 120px;
	background: #F6F7FB;
}
.work-zehntech, .work-specker, .work-zehntech, .work-bhash, .work-makeystreet  {
	padding-top: 10px;
	margin-top: 111px;
}
.work-zehntech {
	background: #F58C6A;
	color: #fff;
}
.work-listenin p {
	color: #fff;
	font-size: 20px;
}
.work-makeystreet p, .work-bhash p, .work-specker p, .work-zehntech p {
	font-size: 20px;
}
.work-listenin img, .work-makeystreet img, .work-bhash img, .work-specker img, .work-zehntech img {
	padding-right: 15px;
	padding-left: 15px;
}
.offering-heading div {
	font-size: 23px;
}
.work-heading div {
  font-size: 23px;
  margin-bottom: 6px;
}
.offering-1, .offering-2, .offering-3, .offering-4 {
	height: 200px;
}
.offering-1 {
	margin-top: 6px;
	display: flex;
}
.offering-2, .offering-3, .offering-4 {
	margin-top: 111px;
	display: flex;
}
.offering-4 {
	margin-bottom: 117px;
}
.offering-1 img, .offering-2 img, .offering-3 img, .offering-4 img{
	width: 90%;
}
.offering-4 img {
  width: 53%;
}
.service1, .service2, .service4, .service3 {
	background: #fff;
	display: table;
	height: 100%;
}
.service1 div, .service2 div, .service4 div, .service3 div, .service1-content div, .service2-content div, .service4-content div, .service3-content div {
	display: table-cell;
	vertical-align: middle;
}
.service1-content, .service2-content, .service4-content, .service3-content {
	background: #fff;
	text-align: center;
	display: table;
	height: 100%;
	padding-left: 40px;
	padding-right: 40px;
}
.service1-content h3, .service2-content h3, .service4-content h3, .service3-content h3{
	margin-bottom: 25px;
}
.service1-content p, .service2-content p, .service4-content p, .service3-content p{
	font-size: 23px;
}
.para-2 {
	margin-top: 25px;
}
.back-red {
	background-color: #f58b69;
}
a .back-red {
	color: #fff !important;
}
.back-yellow {
	background: #F8F389;
}
a .back-yellow{
	color: #fff !important ;
}
.back-green {
	background: #BEDC8A;
}
a .back-green {
	color: #fff !important;
}

.head-nav div {
	padding-top: 73px;
	padding-bottom: 8px;
	text-align: center;
	width: 21.5%;
	display: inline-block;
	font-size: 18px;
	margin-left: 6px;
	margin-right: 6px;
	color: #000;
}
.head-nav a div {
	text-decoration: none;
}
.red-border {
	border-bottom: 6px solid #f58b69;
}
.yellow-border {
	border-bottom: 6px solid #faf289;
}
.green-border {
	border-bottom: 6px solid #BEDC8A;
}
.col-md-2, .col-md-8 , .col-md-12, .col-md-6 {
	padding:0;
}

.logo-box {
	text-align: center;
	font-size: 25px;
	color: #000;
}
.logo-box img {
	margin-top: 15px;
}
.logo-box p {
	margin-top: 21px;
	margin-bottom: 0;
}

.box {

	background: #fff;
}
.box p {
	padding: 23px 80px;
}
.small-box {
	height: 40px;
	width: 160px;
	background: #e1e1e1;
	font-size: 18px;
	display: table;
}
.small-box div {
	display: table-cell;
	vertical-align: middle;
}
.box-download {
	padding-bottom: 178px;
}
.box-download div.download-button {
	font-size: 12px;
	font-weight: 700;
	border: 1px solid #d1d2d4;
	background: #fff;
	width: 70px;
	margin: 0 auto;
	width: 210px;
	padding: 12px;
}
.box-download img {
	width: 17px;
	height: 20px;
	margin-right: 10px;
}
.contacts p, .contacts-detail p {
	font-size: 23px;
	font-weight: 700;
}
.contacts p {
	padding-top: 60px;
}
.contacts-detail h3 {
	font-size: 20px;
	margin-bottom: 0;
} 
img.listenin-logo, img.logo-makey, .work-zehntech h3, .work-bhash h3, .work-specker h3{
	padding-top: 15px;
}
.work-listenin p, .work-makeystreet p, .work-zehntech p, .work-bhash p, .work-specker p{
	padding-bottom: 15px;
}
